<section class="d-block m-auto d-flex justify-content-center">
<%= form_with model: @book, url: @action == 'edit' ?   book_path : books_path, method: @action=='edit' ? :patch : :post , id:'form'  do |form| %>
    <div class="m-4">
        

        <%= form.label :name, "Name :"%><br>
        <%= form.text_field :name , class:'input form-control', id: "book_title"%><br>
        
        <%= form.label :author, "Author :"%><br>
        <%= form.text_field :author , class:'input form-control', id: "book_title"%><br>
        
        <%= form.label :genre, "Genre :"%><br>
        <%= form.text_field :genre , class:'input form-control', id: "book_title"%><br>
        
        <%= form.label :price, "Price :"%><br>
        <%= form.text_field :price , class:'input form-control', id: "book_title"%><br>
        
        <%= form.label :description , "Description :"%><br>
        <%= form.text_area :description , size: 100*5, class:'input form-control' %><br>

        <%= form.label :content , "Content :"%><br>
        <%= form.text_area :content , size: 100*10, class:'input form-control' %><br>

        <%= form.label :image, "Upload File :"%><br>
        <%= form.file_field :image , class:'form-control'%><br>

        <div class="d-flex justify-content-center m-3">
            <%= link_to "Back", :back, class:"btn btn-secondary m-3" %>
            <input type="submit" class="btn-secondary btn submit m-3" value="Upload" id="btn"></input><br>
        </div>
    </div>
</section>
<%end%>