<div class="container responsive">
		<h1 class="d-flex justify-content-center align-content-center ">Books</h1><br>
		
		  <div class="row row-cols-5">
					<% @books.each do |book|%>
						<% if !book.deleted %>
			    	<div class="col">
							<div class="card ", style="width: 16rem;">
								 <% if user_signed_in? %>
							  <a href='/issue_books/new/<%= "#{book.id}"%>' class="d-flex justify-content-center mt-2"> <% end %>
							  	<%= image_tag book.image.url, style: 'height:314px; width: 15rem' if book.image_url.present? %></a>
							  
							  	<div class="card-body">
							    <h5 class="card-title"><b>Name: </b><%= book.name %></h5>
							    <p class="card-text"><b>Book Id: </b><%= book.id %></p>
							    <p class="card-text"><b>Genre: </b><%= book.genre %></p>
							    <p class="card-text"><b>Price: </b><%= price(book) %></p>
							    <p class="card-text"><%= book.description %></p>

								  <% if user_signed_in? && 	current_user.is_admin? %>
										<p class="card-text">
											<div class=" d-flex justify-content-between">
												<%= button_to 'Edit',  edit_book_path(book),class:"btn-outline-secondary rounded", method: :get %>
												<%= button_to 'Destroy',  book_path(book), method: :delete, class:'delete-btn btn-outline-secondary rounded' %>
												<%= button_to 'Show',  book_path(book), method: :get, class:"btn-outline-secondary rounded"%>
											</div>
										</p>
									<% end %>

						  	</div>
							</div><br>
						</div>
						<% end %>
					<% end %>
	 		 </div>
</div>

<%= javascript_include_tag 'delete.js' %>



