<div class="container responsive position-relative">
		<h1 class="d-flex justify-content-center align-content-center ">Books</h1><br>
		
		  <div class="row row-cols-5">
					<% @books.each do |book|%>
						<% if !book.deleted %>
			    	<div class="col">
							<div class="card ", style="width: 16rem;">
								 <% if user_signed_in? %>
							  
								 <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> -->
   								<div class="hovereffect"> <% end %>
     							   <p class="d-flex justify-content-center mt-2"><%= image_tag book.image.url, style: 'height:314px; width: 15rem' if book.image_url.present? %></p>
     					       	<div class="overlay">
   		            		<p>
                  		  <a class="info" href='/issue_books/new/<%= "#{book.id}"%>'>Issue Book</a>
                			</p>
            					</div>
    							</div>
								<!-- </div>							   -->
							  	<div class="card-body">
							    <h5 class="card-title"><b>Name: </b><%= book.name %></h5>
							    <p class="card-text"><b>Book Id: </b><%= book.id %></p>
							    <p class="card-text"><b>Genre: </b><%= book.genre %></p>
							    <p class="card-text"><b>Price: </b><%= price(book) %></p>
							    <p class="card-text"><%= book.description %></p>

								  <% if user_signed_in? && 	current_user.is_admin? %>
										<p class="card-text">
											<div class=" d-flex justify-content-between">
												<%= button_to 'Edit',  edit_book_path(book),class:"btn-outline-secondary rounded", method: :get %>
												<%= button_to 'Destroy',  book_path(book), method: :delete, class:'delete-btn btn-outline-secondary rounded' %>
												<%= button_to 'Show',  book_path(book), method: :get, class:"btn-outline-secondary rounded"%>
											</div>
										</p>
									<% end %>

						  	</div>
							</div><br>
						</div>
						<% end %>
					<% end %>
	 		 </div>
</div>
<div  class="d-flex justify-content-center m-2">
    <%= link_to 'Newest', root_path, class:"btn btn-secondary m-2" %>
    <%= link_to 'Previous', root_path(page: (@page -1)>= 0), class:"btn btn-secondary m-2" %>
    <%= link_to "Next", root_path(page: @page +1), class:"btn btn-secondary m-2" %>
</div>
 


<style type="text/css">
	.hovereffect {
  width: 100%;
  height: 100%;
  /* float: left; */
  /* overflow: hidden; */
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 250px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 10px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
</style>
<%= javascript_include_tag 'delete.js' %>



