<section class="d-block m-auto d-flex justify-content-center">
<%= form_with model: @issue_book, url: issue_books_path, method: :post , id:'form'  do |form| %>
    <div class="m-4">
        

        <%= form.label :book_id, "Book_id :"%><br>
        <%= form.text_field :book_id , class:'input form-control', id: "issue_book_title"%><br>
        
        <%= form.label :period_of_days , "Period of Days :"%><br>
        <%= form.text_field :period_of_days , class:'input form-control' %><br>

        <div class="d-flex justify-content-center m-3">
            <%= link_to "Back", :back, class:"btn btn-secondary m-3" %>
            <input type="submit" class="btn-secondary btn submit m-3" value="Upload" id="btn"></input><br>
        </div>
    </div>
</section>
<%end%>