<h1 class="d-flex justify-content-center align-content-center">Return Book</h1><br>
<table class="d-flex justify-content-around border-1 m-5 relative">
		
		<tr class="border-dark">
					<th class="border-2 p-2 text-center"><b>User Id</th>
					<th class="border-2 p-2 text-center"><b>User Name</th>
					<th class="border-2 p-2 text-center"><b> Book Name</th>
					<th class="border-2 p-2 text-center"><b> Book Id</th>
					<th class="border-2 p-2 text-center"><b>Date of Issue</th>
					<th class="border-2 p-2 text-center"><b>Date of Return</th>
					<th class="border-2 p-2 text-center"><b>Return Book</th>
		</tr>		
			<% @issue_books.each do |issue_book|%>
			<% if ((current_user.is_admin) || (current_user.id == issue_book.user.id)) && !issue_book.returned %>

					<tr>
						<td class="border-1 p-2"><%= issue_book.user_id %></td>
						<td class="border-1 p-2"><%= issue_book.user.name %></td>
							<td class="border-1 p-2"><%= issue_book.book.name %></td>
						<td class="border-1 p-2"><%= issue_book.book.id %></td>
						<td class="border-1 p-2"><%= issue_book.created_at.strftime('%B %d, %Y') %></td>
						<td class="border-1 p-2"><%= issue_book.updated_at.strftime('%B %d, %Y') %></td>
						<td class="border-1 p-2"><%= button_to 'Return Book',  issue_book_return_path(issue_book), method: :delete, class:'delete-btn btn-outline-dark rounded' %></td>
					</tr>							
			<% end %>
			<%end%>
	

</table>

<%= javascript_include_tag 'delete.js' %>
